*.csv
*.o
*.so
*.dll
*.log
*.RData
*.Rhistory
*.Rbuildignore
*.bk
*.pdf
*.html
.*

!/.Rbuildignore
!/.gitignore
__pycache__
rawdata/
test/
rsconnect/
tmp/
tmp2/
rawdata/
extract_data.R
.Rproj.user
*.Rproj
.Rhistory
